<div class="deshbox-wrap">
  <div class="deshbox" *ngFor="let status of statusData">
    <div class="title">{{ status.title }}</div>
    <div class="data-wrap">
      <div class="value">
        {{ status.value
        }}<span
          class="percentage"
          [ngClass]="{
            low: status.percentage < 75,
            high: status.percentage >= 75
          }"
        >
          <mat-icon
            svgIcon="{{ status.percentage < 75 ? 'dash-low' : 'dash-high' }}"
            class="dash-aerrow"
          ></mat-icon
          >{{ status.percentage }}
        </span>
      </div>
      <div class="left-arrow">
        <mat-icon
          svgIcon="dash-arrow-left"
          [routerLink]="[status.link]"
          routerLinkActive="router-link-active"
        ></mat-icon>
      </div>
    </div>
  </div>
</div>
