<div class="integration-modal">
  <div class="modal-title">
    <div class="title">Account Lookup</div>
    <div class="close-icon" mat-dialog-close>
      <mat-icon svgIcon="close"></mat-icon>
    </div>
  </div>
  <div mat-dialog-content class="modal-content">
    <div class="integrationcontainer-wrap">
      <div class="one-line">
        <div class="left-box">
          <div class="input-container">
            <div class="label-container">
              <label class="input-label">Account Name</label>
            </div>
            <mat-form-field appearance="outline">
              <input matInput placeholder="Account Name" />
            </mat-form-field>
            <!-- <div *ngIf="emailError" class="error-message">{{ emailError }}</div> -->
          </div>
        </div>
        <div class="middle-box">
          <div class="input-container">

            <button
            class="theme-button active-btn dialog-button"
            mat-flat-button
          >
            <mat-icon svgIcon="search"></mat-icon>Submit
          </button>

          </div>
        </div>
      </div>
    </div>

    <div *ngIf="!fetchingData" class="row pannel-section">
      <app-dynamic-table [tableDataSource]="tableDataSource" [displayedColumns]="tableHeader"></app-dynamic-table>
    </div>

  </div>
  <!-- <div mat-dialog-actions class="modal-buttons">
    <div class="right-elements">
      <button class="btn primary-btn" mat-dialog-close>Close</button>
    </div>
  </div> -->
</div>
