<div class="templates">
  <mat-card class="header-title">
    <div class="row">
      <div class="title">Templates</div>
      <div class="create-button">
        <button
          class="theme-button active-btn"
          (click)="createTemplate()"
          mat-flat-button
          color="primary"
          aria-label="Create Template"
        >
          <mat-icon>add</mat-icon>Create New
        </button>
      </div>
    </div>
  </mat-card>
  <!-- <mat-divider></mat-divider> -->
  <div class="panel">
    <mat-card>
      <div class="table-filter-section">
        <div class="row search-section">
          <app-status-filter></app-status-filter>
          <div class="right-elements">
            <mat-form-field appearance="outline">
              <mat-icon matPrefix>search</mat-icon>
              <input
                matInput
                type="search"
                placeholder="Search by template name or description"
              />
            </mat-form-field>
            <div class="tab-wrap list-grid-wrap">
              <mat-button-toggle-group>
                <mat-button-toggle
                  class="toggles"
                  checked="true"
                  (click)="viewList()"
                >
                  <mat-icon
                    svgIcon="listactive"
                    class="pointer myIcon"
                  ></mat-icon>
                </mat-button-toggle>
                <mat-button-toggle class="toggles" (click)="viewGrid()">
                  <mat-icon svgIcon="grid" class="pointer myIcon"></mat-icon>
                </mat-button-toggle>
              </mat-button-toggle-group>
            </div>
          </div>
        </div>
        <div class="row filter-section">
          <div class="filter-options">
            <mat-form-field
              appearance="outline"
              class="small-dropdown"
              floatLabel="always"
            >
              <mat-label>RCX Process</mat-label>
              <mat-select
                placeholder="Select RCX Process"
                class="label-space"
                [(ngModel)]="rcxProcess"
                multiple
              >
                <mat-select-trigger>
                  {{rcxProcess?.[0] || ''}}
                  <span
                    *ngIf="(rcxProcess?.length || 0) > 1"
                    class="example-additional-selection"
                  >
                    (+{{ (rcxProcess?.length || 0) - 1 }}
                    {{ rcxProcess?.length === 2 ? "other" : "others" }})
                  </span>
                </mat-select-trigger>
                <mat-option *ngFor="let option of options" [value]="option">
                  {{ option }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field
              appearance="outline"
              class="small-dropdown"
              floatLabel="always"
            >
              <mat-label>Duration</mat-label>
              <mat-select
                placeholder="Select Duration"
                class="label-space"
                [(ngModel)]="duration"
                multiple
              >
                <mat-select-trigger>
                  {{duration?.[0] || ''}}
                  <span
                    *ngIf="(duration?.length || 0) > 1"
                    class="example-additional-selection"
                  >
                    (+{{ (duration?.length || 0) - 1 }}
                    {{ duration?.length === 2 ? "other" : "others" }})
                  </span>
                </mat-select-trigger>
                <mat-option *ngFor="let option of options" [value]="option">
                  {{ option }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field
              appearance="outline"
              floatLabel="always"
              class="small-dropdown"
            >
              <mat-label>Last Modified By</mat-label>
              <mat-select
                placeholder=" Select Modified By"
                class="label-space"
                [(ngModel)]="lastModifiedBy"
                multiple
              >
                <mat-select-trigger>
                  {{lastModifiedBy?.[0] || ''}}
                  <span
                    *ngIf="(lastModifiedBy?.length || 0) > 1"
                    class="example-additional-selection"
                  >
                    (+{{ (lastModifiedBy?.length || 0) - 1 }}
                    {{ lastModifiedBy?.length === 2 ? "other" : "others" }})
                  </span>
                </mat-select-trigger>
                <mat-option *ngFor="let option of options" [value]="option">
                  {{ option }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <app-drop-down-with-search
              placeHolder="Search by name"
              placeHolderSearchBox="Search by Partner"
              label="Partner"
              [callBack]="callBack"
              [selectBoxOptions]="partnersOptions"
              [selectedValue]=""
              [multiple]="true"
            ></app-drop-down-with-search>
            <!-- <mat-form-field appearance="outline" floatLabel="always">
              <mat-label>Partner</mat-label>
              <mat-select
                [formControl]="dateCtrl"
                placeholder="Partner Name"
                [multiple]="true"
                #multiSelect
              >
                <mat-option>
                  <ngx-mat-select-search
                    placeholderLabel="Search by name"
                    noEntriesFoundLabel="No Search Result Found"
                    [formControl]="dateFilterCtrl"
                    class="dropdown-search"
                  ></ngx-mat-select-search>
                </mat-option>
                <mat-option
                  *ngFor="let date of filteredDates | async"
                  [value]="date"
                >
                  {{ date.name }}
                </mat-option>
              </mat-select>
            </mat-form-field> -->
          </div>
          <div class="filter-reset">
            <button mat-stroked-button>Reset Filters</button>
          </div>
        </div>
      </div>
      <app-template-list *ngIf="showListView"></app-template-list>
      <app-template-grid *ngIf="!showListView"></app-template-grid>
    </mat-card>
  </div>
</div>
