<div class="responsive-table">
  <table
    class="row custom-table"
    mat-table
    matSort
    [dataSource]="tableDataSource"
    matSortActive="integration_name"
    matSortDirection="desc"
  >
    <!-- Add table columns and define their data sources -->
    <ng-container matColumnDef="integration_name">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="table-header w-180"
      >
        Integration Name
      </th>
      <td mat-cell *matCellDef="let element" class="name-color table-row">
        <span routerLink="/integrations/view">{{
          element.integration_name
        }}</span>
      </td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="table-header w-180"
      >
        Description
      </th>
      <td mat-cell *matCellDef="let element" class="table-row">
        {{ element.description }}
      </td>
    </ng-container>
    <ng-container matColumnDef="partner_name">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="table-header"
      >
        Partner Name
      </th>
      <td mat-cell *matCellDef="let element" class="table-row">
        {{ element.partner_name }}
      </td>
    </ng-container>
    <ng-container matColumnDef="template_name">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="table-header"
      >
        Template Name
      </th>
      <td mat-cell *matCellDef="let element" class="table-row">
        {{ element.template_name }}
      </td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="table-header"
      >
        Status
      </th>
      <td mat-cell *matCellDef="let element" class="table-row">
        <div class="status {{ getClassName(element.status) }}">
          {{ element.status }}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="table-header">Actions</th>
      <td mat-cell *matCellDef="let element" class="table-row">
        <div class="one-row-icon">
          <button mat-icon-button (click)="edit(element)">
            <mat-icon svgIcon="copy"></mat-icon>
          </button>
          <button
            mat-icon-button
            (click)="delete(element)"
            routerLink="/integrations/edit"
          >
            <mat-icon svgIcon="edit"></mat-icon>
          </button>
          <button mat-icon-button (click)="delete(element)">
            <mat-icon svgIcon="trash"></mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <!-- Define table columns -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <div class="pagination">
    <mat-paginator
      #paginator
      [length]="100"
      [pageIndex]="0"
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="next"
    >
    </mat-paginator>
  </div>
</div>
