<mat-card class="header-title">
  <div class="row">
    <div class="title">Partners</div>
    <div class="create-button">
      <button
        class="theme-button active-btn"
        (click)="createTemplate()"
        mat-flat-button
        aria-label="Create Template"
      >
        <mat-icon>add</mat-icon>Create New
      </button>
    </div>
  </div>
</mat-card>
<div class="panel">
  <mat-card>
    <div class="row search-section">
      <div class="right-elements">
        <mat-form-field appearance="outline">
          <mat-icon matPrefix>search</mat-icon>
          <input matInput type="search" placeholder="Search by Partners Name" />
        </mat-form-field>
      </div>
    </div>
    <div class="row filter-section">
      <div class="filter-options">
        <mat-form-field appearance="outline" class="small-dropdown" floatLabel="always">
          <mat-label>Partners Type</mat-label>
          <mat-select placeholder="Select Partner Type" class="label-space">
            <mat-option *ngFor="let option of options">
              {{ option }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="small-dropdown" floatLabel="always">
          <mat-label>Partner Name</mat-label>
          <mat-select placeholder="Select Partner Name" class="label-space">
            <mat-option *ngFor="let option of options">
              {{ option }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Last Updated By</mat-label>
          <mat-select placeholder="Select Last Updated By" class="label-space">
            <mat-option *ngFor="let option of options">
              {{ option }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="filter-reset">
        <button mat-stroked-button>Reset Filters</button>
      </div>
    </div>
    <!-- <app-template-list></app-template-list> -->
    <router-outlet></router-outlet>
  </mat-card>
</div>
