<div class="responsive-table">
  <div *ngIf="showFilters" class="table-filter-section">
    <div class="row search-section">
      <div class="tab-wrap">
        <mat-button-toggle-group
          class="left-elements button-size"
          #group="matButtonToggleGroup"
          [(ngModel)]="statusFilter"
        >
          <mat-button-toggle class="toggles" value="all" checked="true"
            >Current Exception</mat-button-toggle
          >
          <mat-button-toggle class="toggles" value="failed">All Exceptions</mat-button-toggle>
          <mat-button-toggle class="toggles" value="succeeded"
            >All Quotes</mat-button-toggle
          >
        </mat-button-toggle-group>
      </div>

      <div class="right-elements">
        <mat-form-field class="search-form-field" appearance="outline" class="{{widthClass}}">
          <mat-icon matPrefix>search</mat-icon>
          <input matInput type="search" [placeholder]="searchPlaceHolder"
          (input)="applyFilter($event)"
          />
        </mat-form-field>
      </div>
    </div>
    <!-- <div class="row filter-section">
      <div class="filter-options">
        <mat-form-field
          appearance="outline"
          floatLabel="always"
          class="small-dropdown"
        >
          <mat-label>Company</mat-label>
          <mat-select
            placeholder="Select Company"
            multiple
            class="label-space"
          >
            <mat-option *ngFor="let option of options" value="option">
              {{ option }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field
          appearance="outline"
          floatLabel="always"
          class="small-dropdown"
        >
          <mat-label>Account </mat-label>
          <mat-select placeholder="Select Account" multiple class="label-space">
            <mat-option *ngFor="let option of options" value="option">
              {{ option }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field
          appearance="outline"
          floatLabel="always"
          class="date-range-picker"
          color="primary"
        >
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
            <input
              matStartDate
              formControlName="start"
              placeholder="Start date"
              [disabled]="true"
            />
            <input
              matEndDate
              formControlName="end"
              placeholder="End date"
              [disabled]="true"
            />
          </mat-date-range-input>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
          <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')"
            >Invalid start date</mat-error
          >
          <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')"
            >Invalid end date</mat-error
          >
        </mat-form-field>
      </div>
      <div class="filter-reset">
        <button mat-stroked-button>Reset Filters</button>
      </div>
    </div> -->
  </div>
  <table
  class="row custom-table"
  mat-table
  matSort
  [dataSource]="dataSource"
  matSortActive="{{ defaultActiveSort }}"
  matSortDirection="desc"
>
  <!-- Add table columns and define their data sources -->
  <ng-container *ngFor="let item of secondHeader" matColumnDef="{{ item }}">
    <th
      mat-header-cell
      *matHeaderCellDef
      [attr.colspan]="item === 'Integration_Name_Run_Id' ? 2 : 3"
    >
      {{ item.replaceAll("_", " ") }}
    </th>
  </ng-container>
  <ng-container *ngFor="let item of displayedColumns" matColumnDef="{{ item }}">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      class="table-header"
      [ngClass]="{ 'fix-width': item === 'runId' || item === 'actions' }"
    >
      {{ getString(item) }}
    </th>

    <td mat-cell *matCellDef="let element" class="table-row">
      <!-- Simple field -->
      <div *ngIf="item === 'Quote_no'">
        <a [routerLink]="['/quote-detail', element[item]]">
          <span class="name-color">{{ element[item] }}</span>
        </a>
      </div>
      <div class="run-id-width" *ngIf="item === 'Creation_Date'">
        <span>{{ element[item] }}</span>
      </div>
      <div class="run-id-width" *ngIf="item === 'Name'">
        <span (click)="saveName(element)">{{ element[item] }}</span>
      </div>
      <div class="run-id-width" *ngIf="item === 'Company'">
        <span>{{ element[item] }}</span>
      </div>
      <div class="run-id-width" *ngIf="item === 'Address'">
        <span>{{ element[item] }}</span>
      </div>
      <div class="run-id-width" *ngIf="item === 'City'">
        <span>{{ element[item] }}</span>
      </div>
      <div class="run-id-width" *ngIf="item === 'State'">
        <span>{{ element[item] }}</span>
      </div>
      <div class="run-id-width" *ngIf="item === 'Zipcode'">
        <span>{{ element[item] }}</span>
      </div>
      <div *ngIf="item === 'Company_Name'">
        <span class="name-color">{{ returnFileName(element[item]) }}</span>
      </div>
      <div *ngIf="item === 'Account'">
        <span class="name-color">{{ returnFileName(element[item]) }}</span>
      </div>
      <!-- Field with duration -->
      <div *ngIf="item === 'Exception'">
        <span>{{ formatLabel(element[item]) }}</span>
      </div>
      <div *ngIf="item === 'UserID'">
        <span>{{ element[item] }}</span>
      </div>
      <div *ngIf="item === 'end'">
        <span>{{ element[item] }}</span>
      </div>
      <div *ngIf="item === 'succeeded'">
        <span>{{ element[item] }}</span>
      </div>
      <div class="failed-width" *ngIf="item === 'failed'">
        <span>{{ element[item] }}</span>
      </div>
      <!-- Field which has status -->
      <div class="status-width" *ngIf="item === 'status'">
        <div class="status {{ getClassName(element[item]) }}">
          {{ element.status }}
        </div>
      </div>
      <!-- Field with copy sign -->
      <!-- Field with two line divider -->
      <!-- Field which has status -->
      <!-- Field which has file format -->
      <!-- Field which has time -->
      <!-- Field which has actions -->
      <div class="action-width" *ngIf="item === 'actions'">
        <button
          *ngIf="element[item].includes('copy')"
          mat-icon-button
          (click)="openDialog()"
        >
          <mat-icon svgIcon="file"></mat-icon>
        </button>
        <button *ngIf="element[item].includes('delete')" mat-icon-button>
          <mat-icon svgIcon="trash"></mat-icon>
        </button>
        <button *ngIf="element[item].includes('edit')" mat-icon-button>
          <mat-icon svgIcon="edit"></mat-icon>
        </button>
        <!-- <button
          *ngIf="element[item].includes('info')"
          mat-icon-button
          (click)="openRunHistoryDetails(element)"
        >
          <mat-icon svgIcon="info-dark"></mat-icon>
        </button> -->
      </div>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns"
  [ngClass]="{'odd-row': isOddRow(i), 'even-row': isEvenRow(i)}"></tr>


</table>

  <div class="pagination">
    <mat-paginator
      #paginator
      [length]="100"
      [pageIndex]="0"
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="next"
    >
    </mat-paginator>
  </div>
</div>
