<div class="rcxfield-modal">
  <div class="modal-title">
    <div class="title">RCX Field Selection</div>
    <div class="close-icon" mat-dialog-close>
      <mat-icon svgIcon="close"></mat-icon>
    </div>
  </div>
  <div class="sub-title rcx-subtitle">
    <div class="sub-title-icon"><mat-icon svgIcon="caution"></mat-icon></div>
    <div>
      <b>Caution:</b> Based off whatever you have selected for RCX Process this
      table will filter these results that are selectable.
    </div>
  </div>
  <div mat-dialog-content class="modal-content">
    <div class="rcxcontainer-wrap">
      <div class="search-wrap search-input-container">
        <mat-form-field appearance="outline">
          <mat-icon matPrefix>search</mat-icon>
          <input matInput type="search" placeholder="Search" />
        </mat-form-field>
      </div>
      <div class="list-wrap">
        <div class="list-name"><span class="icon"></span> Name</div>
        <div class="list-desc">
          <span class="icon"
            ><mat-icon class="icon" svgIcon="check-arrow"></mat-icon
          ></span>
          Name - Description
        </div>
        <div class="list-desc">
          <span class="icon"></span> Name - Description
        </div>
        <div class="list-desc">
          <span class="icon"></span> Name - Description
        </div>
        <div class="list-desc">
          <span class="icon"></span> Name - Description
        </div>
        <div class="list-desc">
          <span class="icon"></span> Name - Description
        </div>
        <div class="list-desc">
          <span class="icon"></span> Name - Description
        </div>
        <div class="list-desc">
          <span class="icon"></span> Name - Description
        </div>
        <div class="list-desc">
          <span class="icon"></span> Name - Description
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions class="modal-buttons">
    <div class="right-elements">
      <button class="btn primary-btn" mat-dialog-close>Ok</button>
    </div>
  </div>
</div>
