<div class="run-history">
  <mat-card class="header-title">
    <div class="row">
      <div class="title">
        Quote Summary
      </div>
    </div>
  </mat-card>


  <div class="create-partner">


    <div class="childContainer">
      <div class="inner-headerContainer">
        <div class="left-elements">
          <div class="right-child">
            <div class="temp-properties-name">Search By:</div>
          </div>
        </div>
      </div>
      <div class="main-container">

        <div class="full-width">
          <div class="one-line">
            <div class="left-box">
              <div class="input-container">
                <div class="label-container">
                  <label class="input-label">Quote Number </label>
                </div>
                <mat-form-field appearance="outline">
                  <input matInput placeholder="Enter Quote Number" [(ngModel)]="quoteNumber"/>
                </mat-form-field>
              </div>
            </div>
            <div class="middle-box">
              <div class="input-container">
                <div class="label-container">
                  <label class="input-label">Account </label>
                </div>
                <mat-form-field appearance="outline" class="select-container">
                  <input [(ngModel)]="accountName" matInput type="search" />
                  <mat-icon (click)="openAccountLookup()" matSuffix>search</mat-icon>
                </mat-form-field>
              </div>
            </div>
            <div class="right-box show-border">
              <div class="input-container">
                <div class="label-container">
                  <label class="input-label">Input Must Exist *</label>
                </div>
                <mat-radio-group [(ngModel)]="searchType" value="1" style="display: flex; flex-direction: column;" color="primary" aria-label="Select an option">
                  <mat-radio-button value="1">Current Exception</mat-radio-button>
                  <mat-radio-button value="2">All Exceptions</mat-radio-button>
                  <mat-radio-button value="2">All Quotes</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
          </div>
          <div class="one-line">
            <div class="left-box">
              <div class="input-container">
                <div class="label-container">
                  <label class="input-label">From Date/Time *</label>
                </div>
                <mat-form-field appearance="outline">
                  <input [(ngModel)]="fromDate" matInput [ngxMatDatetimePicker]="fromPicker" placeholder="Choose a date"
                    [min]="minDate" [max]="maxDate">
                  <ngx-mat-datepicker-toggle matSuffix [for]="fromPicker"></ngx-mat-datepicker-toggle>
                  <ngx-mat-datetime-picker (input)="validateDateTime()" [enableMeridian]="true" [stepMinute]="15" #fromPicker>
                    <ngx-mat-datepicker-actions>
                      <button mat-button ngxMatDatepickerCancel>Cancel</button>
                      <button mat-raised-button color="primary" ngxMatDatepickerApply>Apply</button>
                    </ngx-mat-datepicker-actions>
                  </ngx-mat-datetime-picker>
                </mat-form-field>
              </div>
            </div>
            <div class="middle-box small">
              <div class="input-container">
                <div class="label-container">
                  <label class="input-label">Origin</label>
                </div>
                <mat-form-field appearance="outline">
                  <mat-select [(ngModel)]="selectedOrigin" placeholder="Select Origin">
                    <mat-option value="United States">United States</mat-option>
                    <mat-option value="Mexico">Mexico</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="big-middle">
              <div class="input-container">
                <div class="input-container" style="display: flex; gap: 10px;">
                  <mat-form-field appearance="outline">
                    <input class="api" matInput placeholder="Zip" [(ngModel)]="originZipCode" (input)="fetchOriginZipDetails()" [matAutocomplete]="selectedOrigin === 'United States' ? autoOrigin : null">
                  </mat-form-field>

                  <mat-autocomplete #autoOrigin="matAutocomplete">
                    <mat-option *ngFor="let detail of originZipDetails" [value]="detail.zipCode" (onSelectionChange)="onOriginZipSelection(detail)">
                      {{ detail.zipCode }}-{{ detail.city }}-{{ detail.stateProvince }}
                    </mat-option>
                  </mat-autocomplete>

                  <mat-form-field appearance="outline">
                    <input class="api" matInput placeholder="City" [(ngModel)]="selectedOriginCity" />
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                    <input class="api" matInput placeholder="State" [(ngModel)]="selectedOriginState" />
                  </mat-form-field>
                </div>
              </div>
            </div>

          </div>

          <div class="one-line">
            <div class="left-box">
              <div class="input-container">
                <div class="label-container">
                  <label class="input-label">To Date/Time *</label>
                </div>
                <!-- <mat-form-field appearance="outline">
                  <input matInput placeholder="Enter Effective Date/Time " />
                </mat-form-field> -->
                <mat-form-field appearance="outline">
                  <input [(ngModel)]="toDate" matInput [ngxMatDatetimePicker]="toPicker" placeholder="Choose a date" [min]="minDate" [max]="maxDate">
                  <ngx-mat-datepicker-toggle matSuffix [for]="toPicker"></ngx-mat-datepicker-toggle>
                  <ngx-mat-datetime-picker (input)="validateDateTime()" [enableMeridian]="true" [stepMinute]="15" #toPicker>
                    <ngx-mat-datepicker-actions>
                      <button mat-button ngxMatDatepickerCancel>Cancel</button>
                      <button mat-raised-button color="primary" ngxMatDatepickerApply>Apply</button>
                    </ngx-mat-datepicker-actions>
                  </ngx-mat-datetime-picker>
                </mat-form-field>
                </div>
            </div>
            <div class="middle-box small">
              <div class="input-container">
                <div class="label-container">
                  <label class="input-label">Destination</label>
                </div>
                <mat-form-field appearance="outline">
                  <mat-select [(ngModel)]="selectedDestination" placeholder="Select Destination">
                    <mat-option value="United States">United States</mat-option>
                    <mat-option value="Mexico">Mexico</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="big-middle">
              <div class="input-container">
                <div class="input-container" style="display: flex; gap: 10px;">
                  <mat-form-field appearance="outline">
                    <input class="api" matInput placeholder="Zip" [(ngModel)]="zipCode" (input)="fetchZipDetails()" [matAutocomplete]="auto">
                  </mat-form-field>

                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let detail of zipDetails" [value]="detail.zipCode" (onSelectionChange)="onZipSelection(detail)">
                      {{ detail.zipCode }}-{{ detail.city }}-{{ detail.stateProvince }}
                    </mat-option>
                  </mat-autocomplete>

                  <mat-form-field appearance="outline">
                    <input class="api" matInput placeholder="City" [(ngModel)]="selectedCity" />
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                    <input class="api" matInput placeholder="State" [(ngModel)]="selectedState" />
                  </mat-form-field>
                </div>

              </div>
            </div>
          </div>
          <div *ngIf="dateError" class="error-message">{{ dateError }}</div>
          <div class="one-line">
            <div class="left-box">
              <div class="input-container">
                <div class="label-container">
                  <label class="input-label">Email *</label>
                </div>
                <mat-form-field appearance="outline">
                  <input matInput placeholder="Enter Email" [(ngModel)]="email" (input)="validateEmail()" />
                </mat-form-field>
                <div *ngIf="emailError" class="error-message">{{ emailError }}</div>
              </div>
            </div>
            <div class="right-box">
              <div class="input-container">
                <div class="label-container">
                  <label class="input-label">Exceptions *</label>
                </div>
                <mat-form-field appearance="outline">
                  <mat-select placeholder="Exceptions">
                    <mat-option *ngFor="let option of options" [value]="option">
                      {{ option }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>


          </div>

          <button (click)="submit()" class="theme-button active-btn custom-pos" mat-flat-button>
            <mat-icon svgIcon="save"></mat-icon>submit
          </button>
        </div>

      </div>

    </div>


  </div>

  <div class="panel">
    <mat-card>
      <app-table-filter></app-table-filter>
      <div *ngIf="!fetchingData" class="row pannel-section">
        <app-dynamic-table [tableDataSource]="tableDataSource" [displayedColumns]="tableHeader"></app-dynamic-table>
      </div>
    </mat-card>
  </div>
</div>
