<div class="card-container">
  <div class="card-list">
    <mat-card *ngFor="let card of dataSource">
      <mat-card-header>
        <div class="header-content">
          <button class="status-button-{{ card.status }}" mat-stroked-button>
            {{ card.status }}
          </button>
          <button
            class="more-icon-container"
            mat-icon-button
            [matMenuTriggerFor]="menu"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item class="grid-menu">
              <mat-icon svgIcon="edit"></mat-icon>Edit
            </button>
            <button mat-menu-item class="grid-menu">
              <mat-icon svgIcon="copy"></mat-icon>Duplicate
            </button>
            <button mat-menu-item class="grid-menu">
              <mat-icon svgIcon="trash"></mat-icon>Delete
            </button>
          </mat-menu>
        </div>
        <div class="template-name">
          {{card.name}}
        </div>
        <div class="divider"></div>
      </mat-card-header>
      <mat-card-content>
        <div class="one-row">
          <div class="info-wraper">
            <div class="info-title">Partner</div>
            <div class="info-value">{{card.partner}}</div>
          </div>
          <div class="info-wraper">
            <div class="info-title">Template</div>
            <div class="info-value">{{card.template}}</div>
          </div>
        </div>
        <div class="divider-second"></div>
        <div class="description">
          {{card.description}}
        </div>
        <!-- Card content goes here -->
      </mat-card-content>
    </mat-card>
    <!-- <div class="pagination">
      <mat-paginator
        #paginator
        [length]="100"
        [pageIndex]="0"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 20]"
        aria-label="next"
      >
      </mat-paginator>
    </div> -->
  </div>
</div>
