<div class="form">
  <div class="right-panel-header">
    <div class="right-panel-left-content">
      <div class="bread-crum">Response File / Footer / <span> 1</span></div>
      <div class="bread-crum-child">Sequence #1</div>
    </div>
  </div>
  <div class="right-panel-main-content">
    <div class="one-line">
      <div class="left-box">
        <div class="input-container">
          <div class="label-container">
            <label class="input-label">Field Name *</label>
          </div>
          <mat-form-field appearance="outline">
            <input matInput placeholder="Enter Field Name" />
          </mat-form-field>
        </div>
      </div>
      <div class="right-box">
        <div class="input-container">
          <div class="label-container">
            <label class="input-label">Fixed Length *</label>
          </div>
          <mat-form-field appearance="outline">
            <input matInput placeholder="Enter Fixed Length"/>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="one-line">
      <div class="left-box">
        <div class="input-container">
          <div class="label-container">
            <label class="input-label">Data Type *</label>
          </div>
          <mat-form-field appearance="outline">
            <mat-select placeholder="Data Type">
              <mat-option *ngFor="let option of options" [value]="option">
                {{ option }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="right-box">
        <div class="input-container">
          <div class="label-container">
            <label class="input-label">Aggregate *</label>
          </div>
          <mat-form-field appearance="outline">
            <mat-select placeholder="Aggregate">
              <mat-option *ngFor="let option of options" [value]="option">
                {{ option }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="one-line">
      <div class="left-box">
        <div class="input-container">
          <div class="label-container">
            <label class="input-label">Value *</label>
          </div>
          <mat-form-field appearance="outline">
            <input
              matInput
              placeholder="Enter default value"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="right-box">
        <div class="input-container">
          <div class="label-container">
            <label class="input-label">Constant *</label>
          </div>
          <mat-form-field appearance="outline">
            <input
              matInput
              placeholder="Enter default value"
            />
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</div>
