<div class="delete-modal">
  <div class="modal-title">
    <div class="title">Delete [Integration, connection,etc]</div>
    <div class="close-icon" mat-dialog-close><mat-icon svgIcon="close"></mat-icon></div>
  </div>
  <div mat-dialog-content class="modal-content">Are you sure that you want to delete [INSERT NAME HERE]?</div>
  <div mat-dialog-actions class="modal-buttons">
    <div class="right-elements">
      <button mat-dialog-close class="btn line-btn">No
      </button>
      <button class="btn delete-btn" mat-dialog-close>
        Yes, Delete
      </button>
    </div>
  </div>
</div>
