
<div class="connection-create-template">
  <div class="headerContainer">
    <div class="left-elements">
      <div class="left-child">
        <div class="back-circle">
          <div
            class="circle"
            [routerLink]="['/quote-summary']"
            routerLinkActive="router-link-active"
          >
            <mat-icon class="back" svgIcon="back">arrow_back</mat-icon>
          </div>
        </div>
      </div>
      <div class="right-child">
        <div class="bread-crum">Quote Summary / <span>{{ quoteDetails.quoteNumber }}</span></div>
        <!-- <div class="template-label"></div> -->
      </div>
    </div>

    <div class="right-elements">
      <!-- <button
        class="theme-button active-btn"
        mat-flat-button
        aria-label="Edit Template"
        routerLinkActive="button-active"
        routerLink="/connections/view"
      >
        <mat-icon svgIcon="test"></mat-icon>Test
      </button>

      <button
        class="theme-button orange-btn"
        mat-flat-button
        aria-label="Edit Template"
        routerLinkActive="button-active"
        routerLink="/connections/view"
      >
        <mat-icon svgIcon="save"></mat-icon>Save
      </button> -->
    </div>
  </div>
  <div class="childContainer">
    <div class="inner-headerContainer"
    style="
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    ">
      <div class="left-elements">
        <div class="right-child">
          <div class="temp-properties-name">Quote Details</div>
        </div>
      </div>
    </div>




    <div class="main-container">
      <div class="full-width">



        <div class="one-line" style="display: flex; justify-content: space-between;">
          <div class="left-box">
            <div class="input-container quote-number">
              <div class="label-container">
                <label class="input-label">Quote:</label>
              </div>
              <label class="input-value">{{quoteDetails.quoteNumber}}</label>
            </div>
          </div>
          <div class="middle-box">
            <div class="input-container">
              <div class="label-container">
                <label class="input-label">Exceptions:</label>
              </div>
              <label class="input-value">{{ exceptionsList }}</label>
            </div>
          </div>
        </div>

        </div>
        </div>



        <div class="inner-headerContainer">
          <div class="left-elements">
            <div class="right-child">
              <div class="temp-properties-name">Contact Information</div>
              <mat-icon (click)="isContactInfoCollapsed = !isContactInfoCollapsed"
               class="icon"
              svgIcon="{{ isContactInfoCollapsed ? 'down-arrow' : 'expand_less' }}"></mat-icon>
            </div>
          </div>
        </div>
        <div class="main-container">
          <div class="full-width" *ngIf="!isContactInfoCollapsed">
        <div class="one-line">
          <div class="left-box">

            <div class="input-container">
              <div class="label-container">
                <label class="input-label">Account <span class="required-asterisk">*</span></label>
              </div>
              <mat-form-field appearance="outline" class="select-container">
                <input [(ngModel)]="accountName" matInput type="search" />
                <mat-icon (click)="openAccountLookup()" matSuffix>search</mat-icon>
              </mat-form-field>
            </div>
          </div>
          <div class="middle-box">
            <div class="input-container">
              <div class="label-container">
                <label class="input-label">dd3</label>
              </div>
              <mat-form-field class="custom-form-field" appearance="outline" class="select-container">
                <mat-select  class="custom-select" placeholder="{{quoteDetails.customerInformation.dd1}}">
                  <mat-option *ngFor="let option of options" [value]="option">
                    {{ option }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="right-box">
            <div class="input-container">
              <div class="label-container">
                <label class="input-label">tb2</label>
              </div>
              <mat-form-field appearance="outline" class="select-container">
                <mat-select class="custom-select" placeholder="{{quoteDetails.customerInformation.dd2}}">
                  <mat-option *ngFor="let option of options" [value]="option">
                    {{ option }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="one-line-4">
          <div class="one-third-box">
            <div class="input-container">
              <div class="label-container">
                <label class="input-label">R-TB1</label>
              </div>
              <mat-form-field appearance="outline" class="select-container">
                <input matInput [(ngModel)]="quoteDetails.customerInformation.rtb1" />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="one-line">
          <div class="left-box">
            <div class="input-container">
              <div class="label-container">
                <label class="input-label">Name <span class="required-asterisk">*</span></label>
              </div>
              <mat-form-field appearance="outline">
                <input
                  type="text"
                  matInput
                  [(ngModel)]="quoteDetails.customerInformation.contactInformation.name"
                />
              </mat-form-field>
            </div>
          </div>
          <div class="middle-box">
            <div class="input-container">
              <div class="label-container">
                <label class="input-label">Phone <span class="required-asterisk">*</span></label>
              </div>
              <mat-form-field appearance="outline">
                <input
                  type="text"
                  matInput
                  [(ngModel)]="quoteDetails.customerInformation.contactInformation.phone"
                />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="one-line">
          <div class="left-box">
            <div class="input-container">
              <div class="label-container">
                <label class="input-label">Email <span class="required-asterisk">*</span></label>
              </div>
              <mat-form-field appearance="outline">
                <input matInput [(ngModel)]="quoteDetails.customerInformation.contactInformation.email" name="email" />
              </mat-form-field>
              <!-- <div *ngIf="emailError" class="error-message">{{ emailError }}</div> -->
            </div>
          </div>
        </div>
</div>
</div>



        <div class="inner-headerContainer">
          <div class="left-elements">
            <div class="right-child">
              <div class="temp-properties-name">Shipping Information</div>
              <mat-icon (click)="isShippingInfoCollapsed = !isShippingInfoCollapsed"
               class="icon"
              svgIcon="{{ isShippingInfoCollapsed ? 'down-arrow' : 'expand_less' }}"></mat-icon>
            </div>
          </div>
        </div>
        <div class="main-container">
          <div class="full-width" *ngIf="!isShippingInfoCollapsed">
        <div class="one-line-2">
          <div class="left-box">
            <div class="input-container">
              <div class="label-container">
                <label class="input-label">Origin</label>
              </div>
              <mat-form-field class="custom-form-field" appearance="outline">
                <mat-select class="custom-select" [(ngModel)]="selectedOrigin" placeholder="Select Origin">
                  <mat-option value="United States">United States</mat-option>
                  <mat-option value="Mexico">Mexico</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="big-middle">
            <div class="input-container type-ahead" style="margin-top: 2.5%;">
              <mat-form-field class="zip" appearance="outline">
                <input class="api" matInput placeholder="Zip" [(ngModel)]="originZipCode" (input)="fetchOriginZipDetails()" [matAutocomplete]="autoOrigin">
              </mat-form-field>

              <mat-autocomplete #autoOrigin="matAutocomplete">
                <mat-option *ngFor="let detail of originZipDetails" [value]="detail.zipCode" (onSelectionChange)="onOriginZipSelection(detail)">
                  {{ detail.zipCode }}-{{ detail.city }}-{{ detail.stateProvince }}
                </mat-option>
              </mat-autocomplete>

              <mat-form-field class="city" appearance="outline">
                <input class="api" matInput placeholder="City" [(ngModel)]="selectedOriginCity" />
              </mat-form-field>

              <mat-form-field class="state" appearance="outline">
                <input class="api" matInput placeholder="State" [(ngModel)]="selectedOriginState" />
              </mat-form-field>
              <div class="right-box clear-btn">
                <button
            class="theme-button active-btn"
            mat-flat-button
            aria-label="Edit Template"
            (click)="clearOrigin()"
          >
            <mat-icon svgIcon="edit-white"></mat-icon>Clear
          </button>

              </div>
            </div>

          </div>
        </div>
        <div class="one-line-2">
          <div class="left-box">
            <div class="input-container">
              <div class="label-container">
                <label class="input-label">Destination</label>
              </div>
              <mat-form-field class="custom-form-field" appearance="outline">
                <mat-select class="custom-select" [(ngModel)]="selectedDestination" placeholder="Select Origin">
                  <mat-option value="United States">United States</mat-option>
                  <mat-option value="Mexico">Mexico</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="big-middle">
            <div class="input-container type-ahead" style="margin-top: 2.4%;">
              <mat-form-field class="zip" appearance="outline">
                <input class="api" matInput placeholder="Zip" [(ngModel)]="zipCode" (input)="fetchZipDetails()"
                  [matAutocomplete]="auto">
              </mat-form-field>

              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let detail of zipDetails" [value]="detail.zipCode"
                  (onSelectionChange)="onZipSelection(detail)">
                  {{ detail.zipCode }}-{{ detail.city }}-{{ detail.stateProvince }}
                </mat-option>
              </mat-autocomplete>

              <mat-form-field class="city" appearance="outline">
                <input class="api" matInput placeholder="City" [(ngModel)]="selectedCity" />
              </mat-form-field>

              <mat-form-field class="state" appearance="outline">
                <input class="api" matInput placeholder="State" [(ngModel)]="selectedState" />
              </mat-form-field>
              <div class="right-box clear-btn">
                <button class="theme-button active-btn" mat-flat-button aria-label="Edit Template" (click)="clearDestination()">
                  <mat-icon svgIcon="edit-white"></mat-icon>Clear
                </button>

              </div>
            </div>

          </div>
        </div>
        </div>
        </div>
        <div class="inner-headerContainer">
          <div class="left-elements">
            <div class="right-child">
              <div class="temp-properties-name">Com</div>
              <mat-icon (click)="isComInfoCollapsed = !isComInfoCollapsed"
               class="icon"
              svgIcon="{{ isComInfoCollapsed ? 'down-arrow' : 'expand_less' }}"></mat-icon>
            </div>
          </div>
        </div>
        <div class="main-container">
          <div class="full-width" *ngIf="!isComInfoCollapsed">
            <div class="one-line">
              <div style="margin-left: 2ch;" class="left-box">
                <h1>dd3</h1>
              </div>
              <div style="margin-left: 1%;" class="middle-box">
                <h1>tb3</h1>
              </div>
            </div>

        <div class="one-line" *ngFor="let com of quoteDetails.com.coms.slice(0, quoteDetails.com.coms.length); let i = index">

          <div class="left-box">
            <div class="input-container">
              <div class="label-container">
                <label class="input-label">({{i+1}})</label>
              </div>
              <mat-form-field appearance="outline">
                <mat-select class="custom-select" [(ngModel)]="com.dd3">
                  <mat-option *ngFor="let option of com.dd3s" [value]="option">
                    {{ option }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="middle-box">
            <div class="input-container">
              <div class="label-container">
                <label class="input-label">({{i+1}})</label>
              </div>
              <mat-form-field appearance="outline">
                <input matInput [(ngModel)]="com.tb2" />
              </mat-form-field>
            </div>
          </div>
          <div class="remove-box" (mouseover)="showRemoveButton(i)" (mouseleave)="hideRemoveButton(i)">
            <button class="remove-button" mat-button (click)="removeComField(i)" [style.visibility]="removeButtonVisibility[i]">
              <mat-icon>close</mat-icon>
            </button>
          </div>

        </div>
        <mat-error style="margin-left: 2%;" *ngIf="comError">{{comError}}</mat-error>

        <div class="button-container">
          <button
            class="theme-button active-btn"
            mat-flat-button
            aria-label="Add Com Details"
            (click)="addInputField()"
          >
            <mat-icon svgIcon="edit-white"></mat-icon>Add Com Details
          </button>
        </div>
</div></div>




        <div class="inner-headerContainer">
          <div class="left-elements">
            <div class="right-child">
              <div class="temp-properties-name">Total Charges</div>
              <mat-icon (click)="isTotalChargesCollapsed = !isTotalChargesCollapsed"
               class="icon"
              svgIcon="{{ isTotalChargesCollapsed ? 'down-arrow' : 'expand_less' }}"></mat-icon>
            </div>
          </div>
        </div>
        <div class="main-container">
          <div class="full-width" *ngIf="!isTotalChargesCollapsed">

        <div class="billing-container">
          <div class="updated"><span>Base Rate</span>{{quoteDetails.totalCharges.baseRate}} </div>
          <div class="updated"><span>Acc</span> {{quoteDetails.totalCharges.acc}}</div>
          <div class="updated final-rate"><span>Final Rate </span> {{quoteDetails.totalCharges.finalRate}}</div>
        </div>
        </div>
        </div>




      </div>




      <!--Main Container End-->
    </div>



    <div class="delete-container">

      <button
        class="theme-button active-btn"
        mat-flat-button
        (click)="openEmail()"
      >
        <mat-icon svgIcon="edit-white"></mat-icon>Email
      </button>

      <button
        class="theme-button orange-btn"
        mat-flat-button
        (click)="saveQuoteDetails()"
      >
        <mat-icon svgIcon="save"></mat-icon>Save
      </button>
      <button
        class="theme-button green-btn"
        mat-flat-button
      >
        <mat-icon svgIcon="share"></mat-icon>Publish
      </button>
    </div>

