<mat-card class="header-title">
  <div class="row">
    <div class="title">My Profile</div>
  </div>
</mat-card>

<div class="panel">
  <mat-card>
    <div class="row pannel-section pannel-wrap">
      <div class="profile-logo-wrap">
        <div class="profile-logo">jd</div>
      </div>
      <div class="general-info-wrap">
        <div class="title-wrap">General Information</div>
        <div class="details-wrap">
          <div class="one-line">
            <div class="left-box">
              <div class="input-container">
                <div class="label-container">
                  <label class="input-label">Created Date </label>
                </div>
                <label class="input-value">05/12/2023 05:15:23 PM</label>
              </div>
            </div>
            <div class="middle-box">
              <div class="input-container">
                <div class="label-container">
                  <label class="input-label">Last Updated</label>
                </div>
                <label class="input-value">05/12/2023 05:15:23 PM</label>
              </div>
            </div>
          </div>
        </div>
        <div class="title-wrap">User Details</div>
        <div class="details-wrap">
          <div class="one-line">
            <div class="left-box">
              <div class="input-container">
                <div class="label-container">
                  <label class="input-label">First Name </label>
                </div>
                <label class="input-value">John</label>
              </div>
            </div>
            <div class="middle-box">
              <div class="input-container">
                <div class="label-container">
                  <label class="input-label">Last Name</label>
                </div>
                <label class="input-value">Doe</label>
              </div>
            </div>
          </div>
          <div class="one-line">
            <div class="left-box">
              <div class="input-container">
                <div class="label-container">
                  <label class="input-label">Email</label>
                </div>
                <label class="input-value">05/12/2023 05:15:23 PM</label>
              </div>
            </div>
            <div class="middle-box">
              <div class="input-container">
                <div class="label-container">
                  <label class="input-label">Last Updated</label>
                </div>
                <label class="input-value">05/12/2023 05:15:23 PM</label>
              </div>
            </div>
            <div class="right-box">
              <div class="input-container">
                <div class="label-container">
                  <label class="input-label">Code</label>
                </div>
                <label class="input-value">12345</label>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </mat-card>
</div>
